
@font-face {
  font-family: 'PixelFont';
  src:  local('PixelFont'),
    url('/assets/fonts/PixelFont-7.woff') format('woff'),
    url('/assets/fonts/PixelFont-7.eot') format('embedded-opentype'),
    url('/assets/fonts/PixelFont-7.ttf') format('truetype'),
    url('/assets/fonts/PixelFont-7.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  cursor: url(/assets/ui/cursor.png), auto;
}

body {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'PixelFont', Helvetica, arial, sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #000000;
}