
html {
  height: 100%;
  cursor: url(/assets/ui/cursor.png), auto;
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: Helvetica, arial, sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #000000;
}

canvas {
  display: block;
  margin: 0 auto;
}

#Game {
  position: relative;
  box-shadow: 5px 5px 15px 5px #333;
  -webkit-box-shadow: 5px 5px 15px 5px #333; 
}

.project_header {
  text-align: center;
}

.project_header h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  margin: 80px 0;
}

.modalContainer {
  display: none;
  
  position: absolute;
  z-index: 9999;
  
  top: 190px;
  left: 0;
  right: 0;
  bottom: 0;
  
  width: 980px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;

  background-color: rgba(0,0,0, 1);
  transition: background-color 0.3s;
}

.modalContainer.show{
  display: block;
  background-color: rgba(0,0,0, .5);
}

.modalContainer .modal {
  /* display: none; */
  position: relative;
  
  width: 320px;
  height: 450px;
  margin: 0 auto;

  color: #fff;
  text-align: center;

  background:url(../modal.png) no-repeat;
}

.modalContainer .modal .title {
  padding: 8px 0;
  font-size: 14px;
}
.modalContainer .modal .contents {
  text-align: left;
  padding: 20px 30px;
}

#inventory .contents {
  background: url(./inventory.png) no-repeat;
}

.button{
  width: 130px;
  height: 33px;
  padding: 8px 0;

  color: #fff;

  background: url(../button1.png) no-repeat;
}

.button.submit {
  background: url(../button2.png) no-repeat;
}

.modalContainer .modal .button {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 15px;

  margin: 0 auto;
}
