canvas {
  display: block;
  margin: 0 auto;
}

#Game {
  position: relative;
  box-shadow: 5px 5px 15px 5px #333;
  -webkit-box-shadow: 5px 5px 15px 5px #333; 
}

.project_header {
  text-align: center;
}

.project_header h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  margin: 80px 0;
}

.uiContainer {
  display: none;
  
  position: absolute;
  z-index: 9999;
  
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  
  width: 980px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;

  background-color: rgba(0,0,0, 1);
  transition: background-color 0.3s;
}

.uiContainer.show{
  display: block;
  background-color: rgba(0,0,0, .5);
}

.uiContainer .modal {
  /* display: none; */
  position: relative;
  
  width: 320px;
  height: 450px;
  margin: 0 auto;

  color: #fff;
  text-align: center;

  background:url(../modal.png) no-repeat;
}

.uiContainer .modal .title {
  padding: 8px 0;
  font-size: 14px;
}
.uiContainer .modal .contents {
  text-align: left;
  padding: 20px 30px;
}


.button {
  width: 130px;
  height: 33px;
  padding: 8px 0;
  margin: 0 auto;
  color: #fff;
  border: none;
  background: url(../button1.png) no-repeat;

  transition: all 0.3s;
}

.button.s1{
  transform: scale(0.2);
}

.button.b1 {
  transform: scale(1);
}

.button.submit {
  background: url(../button2.png) no-repeat;
}

.uiContainer .modal .button {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 15px;

  margin: 0 auto;
}

#title{
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.flex_modal-bottom .center .button {
  margin: 15px auto;
}

#inventory {
  -ms-transform: translate(50px, 10px); /* IE 9 */
  -webkit-transform: translate(50px, 10px); /* Safari */
  transform: translate(50px, 10px);
}



/* test */

#pixelBox {
  width: 39px;
  height: 39px;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  width: 13px;
  height: 13px;
  
  float: left;
  background-size: contain;
}

.pixel:nth-child(1) {
  background:url('../ui/modal3/nineBox_01.png') no-repeat;
}
.pixel:nth-child(2) {
  background:url('../ui/modal3/nineBox_02.png') repeat-x;
}
.pixel:nth-child(3) {
  background:url('../ui/modal3/nineBox_03.png') no-repeat;
}
.pixel:nth-child(4) {
  background:url('../ui/modal3/nineBox_04.png') repeat-y;
}
.pixel:nth-child(5) {
  background:url('../ui/modal3/nineBox_05.png') repeat-x;
}
.pixel:nth-child(6) {
  background:url('../ui/modal3/nineBox_06.png') repeat-y;
}

.pixel:nth-child(7) {
  background:url('../ui/modal3/nineBox_07.png') no-repeat;
}

.pixel:nth-child(8) {
  background:url('../ui/modal3/nineBox_08.png') repeat-x;
}

.pixel:nth-child(9) {
  background:url('../ui/modal3/nineBox_09.png') no-repeat;
}

