@import 'base.css';
@import 'modal.css';

#Game, canvas {
  display: block;
  margin: 0 auto;

  position: relative;
  box-shadow: 5px 5px 15px 5px #333;
  -webkit-box-shadow: 5px 5px 15px 5px #333; 
}

.project_header {
  text-align: center;
}

.project_header h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 1;
  margin: 80px 0;
}

.uiContainer {
  position: absolute;
  z-index: 9999;
  
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  
  width: 980px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  
  pointer-events: none;
}

.uiContainer * {
  pointer-events: auto;
}

/* 
.button {
  width: 10px;
  height: 10px;
  border: none;

  background-color: red;
} */

.button {
  width: 130px;
  height: 33px;
  padding: 8px 0;
  color: #fff;
  border: none;
  background: url(../ui/button1.png) no-repeat;
  transition: all 0.4s linear;
}

.button._small {
  width: 79px;
  padding: 8px 0;
  background: url(../ui/button_s1.png) no-repeat;
  background-size: contain;
}

.button._small.submit {
  background: url(../ui/button_s2.png) no-repeat;
}

.button.submit {
  background: url(../ui/button_s2.png) no-repeat;
}
